@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1rem;
        padding: 1rem;
    }
    .drop_down{
        display: grid;
        gap:12px;
        width: 11rem;
        padding-top: 1rem;
    }
    .border_style {
        border: 1px solid white;
        transition: border 0.2s ease-in-out;
        --tw-border-opacity: 0.5;
    }
    .border_style:hover {
        border: 1px solid white;
    }
}
